body {
	display: inline-block;
	background: #eee;
	background-image: url(../img/subtle_white_feathers.png);
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

header {
	text-align: center;
	margin-top: 10px;

}



.wrap {
	width: 1020px;
	margin: 15px auto;
}



nav.menu ul {
	overflow: hidden;
	color: #fff;
	list-style: none;
	width: 96%;
	margin: 0 0 10;
	background: #1abc9c;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.55);
	-moz-box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.55);
	box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.55);
}

nav.menu ul li {
	margin: 0;
	float: left;
}

nav.menu ul a {
	padding: 15px;
	display: block;
	font-weight: 600;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	transition: all 0.5s ease;
	text-decoration: none;
}

li:nth-child(2) a {
	background: #16a085;

}


nav.menu ul a:hover {
	text-decoration: none;
	background: #16a085;
}

/*css untuk menu hover dropdown*/
nav.menu ul li:hover .sub1 {
	display: block
}

nav.menu ul .sub1 {
	display: none;
	position: absolute;
	background-color: #16a085;
	width: auto;
	padding: 0;
}

nav.menu ul .sub1 a:hover {
	text-decoration: none;
	font-style: oblique;
	background: #1abc9c;
}

/*akhir dropdown */

.sidebar {
	float: right;
	width: 310px;
}

.sidebar .pinggir {
	padding: 24px;
	margin: 0 0 25px;
	background: #fff;
	border-bottom: 1px solid #fff;
	transition: all 0.5s ease;
}

.sidebar .pinggir:hover {
	border-bottom: 5px solid #3498db;
}

.sidebar .pinggir h2 {
	padding: 0;
	margin: 0 0 15px;
	color: #3498db;
	font-size: 18px;
	font-weight: 800;
	text-transform: uppercase;
}

.sidebar .pinggir ul li {
	font-size: 14px;
}

.sidebar .pinggir p {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 18px;
	text-align: center;
}

.sidebar .pinggir p:last-child {
	margin: 0;
}

.sidebar table {
	height: 120px;
	font-size: small;
	font-family: sans-serif;
}

.sidebar table td,
tr {
	width: 250px;
	padding: 3px;
	text-align: left;
	margin: 0;
	transition: all 0.5s ease;
}

.blog {
	float: left;
}

.content {
	width: 620px;
	padding: 25px;
	margin: 0 0 0px auto;
	background: #fff;
	border: 1px solid #dedede;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.35);
	-moz-box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.35);
	box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.35);
}

.content img {
	min-width: 650px;
	margin: 0 0 25px -25px;
	max-width: 650px;
}

.content h1 {
	text-align: center;
	padding: 0;
	margin: 0 0 15px;
	font-weight: normal;
	color: #666;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.content p:last-child {
	margin: 0;
}

.sidebar .pinggir {
	transition: all 0.5s ease;
	text-decoration: none;
}

.sidebar .pinggir:hover {
	margin-left: 10px;
}

#teksjalan {
	background-color: #ace7db;
	color: blue;
	font-weight: bold;

}

.hubungi {
	display: inline-block;
	width: 98.5%;
	margin-top: -5px;
	margin-bottom: -10px;
	padding-left: 15px;
	padding-bottom: 15px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;
	background-color: #1abc9c;
}

.ig,
.yt,
.wa,
.fb,
.tw {
	padding-left: 10px;
}




footer {
	display: inline-block;
	width: 100%;
	color: white;
	background-color: black;
	text-align: center;
	text-decoration: none;
	bottom: 0px;

}

@media screen and (max-width: 960px) {

	header {
		text-align: center;
		margin-top: 10px;

	}

	.wrap {
		width: 90%;
		margin: 15px auto;
	}

	nav.menu ul {
		width: 94%;
		float: inherit;
		margin-top: 0;

	}

	nav.menu ul li {
		float: inherit;
		margin: 0;
	}

	nav.menu ul a {
		padding: 15px;
		display: block;
		font-size: 16px;
		border-top: 1px solid #1abf9f;
		border-bottom: 1px solid #16a085;
	}

	.sidebar {
		width: 100%;
		margin: 25px 0 0;
		float: right;
	}

	.sidebar .pinggir {
		padding: 5%;
	}

	.blog {
		width: 90%;
	}

	.content {
		float: inherit;
		margin: 0 auto 25px;
		width: 101%;
		border: 1px solid #dedede;
		padding: 5%;
		background: #fff;
	}

	.content img {
		max-width: 110%;
		margin: 0 0 25px -5%;
		min-width: 110%;
	}

	.content .continue-read:hover {
		margin-left: 0;
	}

	.hubungi {
		width: 98%;
	}

	.ig,
	.yt,
	.wa,
	.fb,
	.tw {
		padding-left: 10px;
	}


	footer {
		display: inline-block;
		width: 100%;
		color: white;
		background-color: black;
		text-align: center;
		text-decoration: none;
	}
}






@media screen and (max-width: 460px) {

	header {
		text-align: center;
		margin-top: 10px;

	}

	.wrap {
		width: 90%;
		margin: 15px auto;
	}

	nav.menu ul {
		width: 90%;
		float: inherit;
		margin-top: 0;
		margin-bottom: 0;
	}


	nav.menu li {
		float: inherit;
		margin: 0;
		border: 0;
		font-size: 13px;
	}

	nav.menu ul a {
		width: 15%;
		margin: 0;
		border: 0;
		padding: 5px;
		font-size: 13px;
		display: block;

	}

	.sidebar {
		width: 100%;
		font-size: small;
	}

	.content {
		margin: 10px auto;
		font-size: small;
	}

	.content img {
		margin: -5% 0 25px -5%;
	}

	.hubungi {
		width: 96%;

	}

	.ig,
	.yt,
	.wa,
	.fb,
	.tw {
		padding-left: 10px;
	}



	footer {
		display: inline-block;
		width: 100%;
		color: white;
		background-color: black;
		text-align: center;
		font-size: small;
		text-decoration: none;
	}
}